version: "3.9"

services:
  trainer-gpu:
    build:
      context: .
      dockerfile: Dockerfile
    image: quantum-ml-exam-gpu
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - PYTHONUNBUFFERED=1
      - WANDB_MODE=online
    devices:
      - "management.nvidia.com/gpu=all"
    volumes:
      - ./:/app
      - ./outputs:/app/outputs
    working_dir: /app
    ports:
      - "8888:8888"
    command: bash
