experiment_name: "qcnn_fashion_exp"

dataset:
  name: fashion_mnist
  binary_classes: [3, 8]  # Ex: Pull-over vs Sandal
  in_channels: 1

training:
  batch_size: 64
  epochs: 20                # Nombre d'époques pour l'entraînement du feature extractor
  learning_rate: 0.0005      # LR initial pour Adam
  kfold: 3                   # Nombre de splits pour KFold cross-validation
  early_stopping: 10          # Patience d'early stopping
  scheduler: "StepLR"          # Options: null, StepLR, MultiStepLR, CosineAnnealingLR
  scheduler_params:
    step_size: 10              # Applicable à StepLR
    gamma: 0.5                 # Facteur de réduction du LR

model:
  input_size: 784  # Fashion-MNIST images 28x28 aplaties
  in_channels: 1  # Fashion-MNIST est en niveaux de gris comme MNIST
  hidden_sizes: [128, 64, 32]
  grayscale: true   # permet de choisir depuis le yaml

checkpoint:
  save_dir: "checkpoints"
  subdir: "fashion_mnist_qcnn"

quantum:
  n_qubits: 4
  layers: 2
  backend: "lightning.qubit"
