experiment_name: "quantum_mlp_svhn_exp"

dataset:
  name: "svhn"
  binary_classes: [3, 8]

model: 
  in_channels: 3  
  hidden_sizes: [512, 256, 128, 64, 32]
  grayscale: false  

quantum:
  n_qubits: 4
  layers: 2
  backend: "lightning.qubit"
  use_gpu: true

training:
  batch_size: 128
  epochs: 80
  learning_rate: 0.00025
  kfold: 3
  early_stopping: 30
  num_workers: 2
  pin_memory: true
  prefetch_factor: 2
  persistent_workers: true
  scheduler: "StepLR"
  scheduler_params:
    step_size: 10
    gamma: 0.5
