experiment_name: "quantum_mlp_cifar10_exp"

dataset:
  name: "cifar10"
  binary_classes: [3, 8]

training:
  batch_size: 32
  epochs: 100
  learning_rate: 0.0005
  kfold: 3
  early_stopping: 15
  num_workers: 2
  pin_memory: true
  prefetch_factor: 2
  persistent_workers: true
  scheduler: "StepLR"
  scheduler_params:
    step_size: 10
    gamma: 0.5

quantum:
  n_qubits: 4
  layers: 2
  backend: "lightning.qubit"
