experiment_name: "quantum_mlp_fashion_exp"

dataset:
  name: "fashion_mnist"
  selected_classes: [3, 8]

model: 
  in_channels: 1  
  hidden_sizes: [512, 256, 128, 64, 32]
  grayscale: true 

quantum:
  n_qubits: 4
  layers: 1
  backend: "lightning.qubit"

training:
  batch_size: 64
  epochs: 20                
  learning_rate: 0.0005      
  kfold: 3                   
  early_stopping: 10          
  scheduler: "none"          
  scheduler_params:
    step_size: 10              
    gamma: 0.5                 

checkpoint:
  save_dir: "checkpoints"
  subdir: "fashion_mnist_quantum_mlp"