experiment_name: "svm_fashion_exp"

dataset:
  name: fashion_mnist

training:
  batch_size: 512
  epochs: 1  # Dummy value for SVM (not used)
  learning_rate: 0.001  # Dummy value for SVM (not used)

binary_classes: [3, 8]  # Classe 3 contre 8 (modifiable selon ton objectif)

svm:
  use_pca: false
  pca_components: 50

optuna:
  n_trials: 30

checkpoint:
  save_dir: "checkpoints"
  subdir: "fashion_mnist_svm"
