experiment_name: "cnn_svhn_exp"

dataset:
  name: "svhn"            
  binary_classes: [3, 8]        

model: 
  in_channels: 3  
  hidden_sizes: [512, 256, 128, 64, 32]
  grayscale: false   

training:
  batch_size: 128
  epochs: 40
  learning_rate: 0.0005
  kfold: 3
  early_stopping: 15
  scheduler: "none"

checkpoint:
  save_dir: "checkpoints"
  subdir: "svhn_cnn"