experiment_name: "svm_fashion_exp"

dataset:
  name: fashion_mnist
  binary_classes: [3, 8]  # Classe 3 contre 8 (modifiable selon ton objectif)
  grayscale: true

training:
  batch_size: 512

svm:
  use_pca: false
  pca_components: 50
  use_gpu: true

optuna:
  n_trials: 30
  kernel_options: ["rbf", "poly", "sigmoid"]
  C_range: [0.001, 1000.0]
  gamma_range: [0.0001, 10.0]
  default_C: 1.0
  default_kernel: "rbf"
  default_gamma: "scale"

checkpoint:
  save_dir: "checkpoints"
  subdir: "fashion_mnist_svm"