experiment_name: "hybrid_qcnn_svhn_exp"

dataset:
  name: "svhn"
  binary_classes: [3, 8]

model: 
  in_channels: 3  
  hidden_sizes: [512, 256, 128, 64, 32]
  grayscale: false  

quantum:
  n_qubits: 8
  layers: 1
  backend: "lightning.qubit" 

training:
  batch_size: 32
  epochs: 50
  learning_rate: 0.0001
  kfold: 3
  early_stopping: 10
  scheduler: "StepLR"
  scheduler_params:
    step_size: 10
    gamma: 0.5

checkpoint:
  save_dir: "checkpoints"
  subdir: "svhn_qcnn"