experiment_name: "svm_cifar10_exp"

dataset:
  name: cifar10
  binary_classes: [3, 8]

svm:
  use_pca: true
  pca_components: 50
  optimize: true
  n_trials: 30
  kernel_options: ["rbf", "poly", "sigmoid"]
  C_range: [0.001, 1000.0]
  gamma_range: [0.0001, 10.0]
  default_C: 1.0
  default_kernel: "rbf"
  default_gamma: "scale"
  use_gpu: true
